html {
  font-size: 18px;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

button {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
}

button:focus {
  outline: none;
}

.header-wrap {
  border-bottom: 1px solid #C4C4C4;
}

.header {
  position: relative;
}

.logout-btn {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  margin: .5rem 1rem;
  height: 1.5rem;
  background: none;
  border: 1px solid #000;
  border-radius: .2rem;
  outline: none;
}

.App-logo {
  width: 12.75rem;
}

.social {
  position: relative;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 15px;
  height: 2rem;
  display: none;
  /* margin-bottom: .5rem; */
}

.social__icon {
  display: inline-block;
  width: 2rem;
  margin-left: 1.1rem;
  /* transition: .2s linear all; */
}

.social__icon:hover {
  transform: scale(1.05);
}


.social__icon img {
  width: 100%;
}

.nav-bar {
  background: #F8F8F8;
  padding: .75rem 0;
}

.search-block {
  display: none;
  position: relative;
  width: 14rem;
  border-bottom: 1px solid #000;
  padding-left: 1.45rem;
  padding-bottom: .4rem;
  color: #BDBDBD;
  font-weight: 300;
  font-size: .89rem;
  line-height: 1;

}

.search-block:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: .45rem;
  left: 0;
  width: 1.04rem;
  height: 1.08rem;
  margin: auto;
  background: url(./img/search.svg) 0 0 no-repeat;
  background-size: 100%;
}

.search-block input {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.search-block input:focus {
  outline: none;
}

.sort-block {
  width: 100%;
}

.sort-block__item {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  position: relative;
  font-size: .8rem;
  line-height: 1;
  color: #000;
  margin: .2rem .5rem;
}

.sort-block__item:focus {
  outline: none;
}

.is--active {
  color: #000;
}
.is--asc:before {
  position: absolute;
  margin: auto;
  margin-right: -.8rem;
  content: "\25B2";
  right: 0;
  top: .1rem;
  bottom: 0;
  font-size: .6rem;
}
.is--desc:before {
  position: absolute;
  margin: auto;
  margin-right: -.8rem;
  content: "\25BC";
  right: 0;
  top: .1rem;
  bottom: 0;
  font-size: .6rem;
}

.categories {
  margin: .5rem auto;
}

.categories .navbar {
  width: 100%;
  background: none;
  padding-left: 0;
  padding-right: 0;
}

.categories .collapse-btn {
  position: relative;
  width: 100%;
  margin-bottom: .5rem;
}

.categories .collapse-btn:before {
  content: "\25bc";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1rem;
  margin: auto;
  color: #8f8f8f;
  font-size: .9rem;
  width: 1rem;
  height: .8rem;
}

.categories__item {
  color: #000;
  font-size: .75rem;
  text-decoration: underline;
  padding: .2rem 0;
  width: 100%;
  text-align: center;
}

.categories__item.active {
  font-weight: bold;
  color: #5B15CD!important;
  text-decoration: none;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
  padding: .2rem 0;
}

.cards {
  min-height: 500px;
  margin: 0 auto;
}

.cards .col-auto {
  width: 100%;
}

.s-card {
  width: 100%;
  max-width: 400px;
  /* max-height: 360px; */
  margin: 0 auto 1.25rem;
  padding: .8rem .2rem 1.2rem;
  background-color: #fff;
  border: 1px solid #cbcbcb;
  font-size: .89rem;
  line-height: 1;
  color: #000;
  cursor: pointer;
}

.s-card__image {
  margin: 0 auto 1rem;
  width: 85%;
  height: 13rem;
}

.s-card__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.s-card__name {
  line-height: 1.3;
  text-align: center;
  overflow: hidden;
  height: 2.5rem;
  margin-bottom: .5rem;
}

.s-card__button {
  width: 157.67px;
  height: 45.05px;
  margin-left: -.8rem;
  color: #fff;
  font-weight: normal;
  background-color: #5B15CD;
  text-transform: uppercase;
}

.s-card__price {
  margin: 0 auto;
  line-height: 1.2;
}

.sale {
  position: relative;
}

.sale:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border: 40px solid transparent;
  border-top: 40px solid #5B15CD;
  border-right: 40px solid #5B15CD;
}
.sale:after {
  content: "sale";
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: italic;
  line-height: 55px;
  font-weight: 300;
  transform: rotate(45deg);
}

.sale-price {
  display: block;
  color: red;
  font-style: italic;
  text-decoration: line-through;
}

.pagination {
  cursor: pointer;
}

.pagination a {
  color: #000;
}

.pagination a:hover {
  text-decoration: none;
}

.page-item.active .page-link {
  background-color: #656565;
  border-color: #656565;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.footer-wrap {
  background: #F8F8F8;
  padding: 2.5rem 0 1.5rem;
}

.agreement-link {
  display: block;
  margin: 1rem auto 0;
  text-align: center;
  font-size: 14px;
}

.agreement-link a {
  color: #000;
}

.agreement {
  padding: 20px;
  font-size: 14px;
}

.agreement-title {
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  font-size:19pt;
  font-weight: bold;
}

.product {
  margin-bottom: 2rem;
}

.product__images {
  margin: 0 auto 1rem;
  width: 95%;
  max-width: 25rem;
  cursor: pointer;
  /* height: 27rem; */
  /* border: 1px solid #000; */
}

.product__image {
  width: 100%;
  height: 19.5rem;
  border: 1px solid #000;
  border-bottom: none;
}

.product__image img {
  width: 85%;
  height: 85%;
  object-fit: contain;
}

.product__gallery {
  border: 1px solid #000;
}

.product__gallery-item {
  flex: 1 1 7.5rem;
  height: 7.5rem;
  padding: .2rem;
  overflow: hidden;
  border-right: 1px solid #000;
}

.product__gallery-item:last-child {
  border: none;
}

.product__gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product__r-side {
  color: #000;
  width: 95%;
  max-width: 25rem;
  margin: auto;
}

.product__name {
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 1rem;
}

.product__descr {
  white-space: pre-wrap;
  font-size: 1rem;
  line-height: 1.3;
  margin-bottom: .5rem;
  min-height: 10rem;
}

.product__price {
  display: inline-block;
  position: relative;
  font-size: 2rem;
  line-height: 1;
  text-align: right;
  padding-bottom: 3px;
  margin-bottom: 3rem;
}

.product__price:before {
  content: "";
  position: absolute;
  bottom: -.75rem;
  left: 0;
  width: 110%;
  height: .42rem;
  background-color: #5B15CD;
}

.product__button {
  position: fixed;
  bottom: 0;
  left: 0;
  display: block;
  background-color: #5B15CD;
  margin: 0;
  outline: none;
  border: none;
  width: 100%;
  padding: 1rem 0;
  color: #fff;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: bold;
  letter-spacing: .1rem;
  z-index: 999;
}

/* .product__button:focus {
  outline: none;
} */

.popup .modal-title {
  margin: 0 auto;
}

.popup .modal-header {
  padding: 1rem 1rem .5rem;
  border-bottom: 18px solid #f8f8f8;
}

.popup__logo {
  margin: 0 auto;
  width: 100%;
  max-width: 15.45rem;
}

.popup__logo2 {
  margin: 0 auto;
  width: 100%;
  max-width: 15.45rem;
}

.popup__inputs {
  margin: 1rem auto;
}

.popup .input-field {
    display: block;
    position: relative;
    margin: 0 auto 2rem;
    width: 350px;
    border-bottom: 1px solid #000;
    padding-left: 2rem;
    padding-bottom: .5rem;
    color: #BDBDBD;
    font-weight: 300;
    font-size: .89rem;
    line-height: 1;
}

.popup .input-field:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: .45rem;
    left: 0;
    width: 25px;
    height: 25px;
    margin: auto;
    background: url(./img/user.svg) 0 0 no-repeat;
    background-size: 100%;
}

.popup .input-field-2:before {
    background: url(./img/phone.svg) 0 0 no-repeat;
    background-size: 100%;
}

.popup .input-field input {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.popup .input-field input:focus {
  outline: none;
}

.popup__success-icon {
  display: block;
  margin: .5rem auto 2rem;
  width: 66px;
}
.popup__text {
  text-align: center;
  font-size: 30px;
  line-height: 1.2;
  font-weight: normal;
  color: #000;
  margin-bottom: 14px;
}

.popup__button {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  height: 71px;
  background: #5B15CD;
  color: #FFFFFF;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
}

.popup__buttons-wrap {
  background: #F8F8F8;
  border: 1px solid #EFDBDB;
  box-sizing: border-box;
  padding: 40px 0;
}

.popup__country-button {
  display: block;
  width: 54px;
  height: 42px;
  margin: 5px;
}

.popup__country-button img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.rules {
  white-space: pre-wrap;
  font-size: 1rem;
  line-height: 1.1;
  color: #000;
  margin-bottom: 1.5rem;
}

.Login {
  text-align: left;
  padding: 1em;
  margin: 1em;
  border: 2px solid #d3d3d3;
  border-radius: .5em;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  max-width: 550px;
  width: 95%;
  margin-top: 100px;
}

.Login .form {
  padding: 1em;
}

.Login label {
  display: flex;
  font-weight: 600;
}

.Login button {
  justify-content: flex-end;
}

.register-btn {

}

.error {
  color: #c00;
}

.hide {
  display: none;
}

.uploaded-image {
  width: 11rem;
  height: 11rem;
  padding: .5rem;
  margin: 0 .5rem .5rem 0;
  border: 1px solid #9c9c9c;
  border-radius: .2rem;
  cursor: pointer;
}

.uploaded-image:hover {
  box-shadow: 3px 3px 5px 6px #ccc;
}
.uploaded-image:first-child:hover {
  box-shadow: none;
  cursor: auto;
}

.uploaded-image:first-child {
  border-width: 3px;
}

.uploaded-image:last-child {
  margin-right: 0;
}

.uploaded-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.admin-table {
  text-align: center;
  font-size: .9rem;
}

.admin-table th {
  font-size: 1.2rem;
}

.admin-table td {
  vertical-align: middle;
}

.admin-table div {
  overflow-y: hidden;
  height: 4.1rem;
  line-height: 1.2;
}

.admin-table__product-id {
  min-width: 135px;
}

.admin-table .spinner-border {
  height: 2rem;
}

.admin-table__name {
  width: 8rem;
}

.admin-table__image {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.admin-table__descr {
  overflow-y: hidden;
  height: 3.3rem;
  font-size: .7rem;
  line-height: 1.1;
}

.admin-table__btn {
  border: none;
  background: no-repeat;
  outline: none;
  padding: 0;
}

.admin-table__btn:focus {
  outline: none;
}

.admin-table__btn img {
  height: 1.6rem;
}

.error__logo {
  margin: .5rem auto;
  width: 240px;
}

.error__logo img, .error__img img  {
  width: 100%;
  height: 100%;
}

.error__body {
  border-top: 1px solid #000;
  padding: 1rem .5rem;
  text-align: center;
}

.error__text {
  font-size: 43px;
  line-height: 1;
  color: rgba(21, 66, 182, 0.14);
  margin-bottom: .5rem;
}

.error__img {
  margin: 0 auto 1rem;
  max-width: 600px;
  width: 90%;
}

.error__btn {
  display: block;
  margin: 0 auto 1rem;
  width: 75%;
  max-width: 300px;
  padding: 1rem 0;
  background: #5B15CD;
  color: #fff;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
}

.error__btn:hover {
  color: #fff;
  text-decoration: none;
}

@media screen and (min-width: 430px) {
  .sort-block__item { margin: .2rem 1.25rem; }
  .social { display: block; }
  .product__name { font-size: 1.2rem; margin-bottom: 2rem; }
}
@media screen and (min-width: 576px) {
  .App-logo { width: 15.75rem; }
  .cards .col-auto { width: auto; }
  .s-card { width: 224px; }
  .s-card__image { height: 13rem; }
  .nav-bar { padding: 1.25rem 0; }
  .product__button { position: relative; width: 195px; height: 63px; padding: 0; }
  .popup__country-button { width: 80px; height: 60px; }
}
@media screen and (min-width: 768px) {
  .sort-block { width: auto; }
  .search-block { display: block; }
  .s-card { width: 264px; }
  .product__images { margin: 0 0 1rem; max-width: 18rem; }
  .product__r-side { margin: 0; max-width: 19rem; }
  .error__text { font-size: 90px; }
}
@media screen and (min-width: 960px) {
  .categories__item { font-size: .85rem; }
  .logout-btn { position: absolute; margin: auto; }
  .social { position: absolute; }
  .categories { margin: 1.85rem auto; }
  .product__images { max-width: 20rem; }
  .product__r-side { max-width: 26.5rem; }
}
@media screen and (min-width: 1200px) {
  .categories__item { font-size: 1rem; }
  .container { max-width: 980px; }
  .product__images { margin: 0; }
}
@media screen and (min-width: 1400px) {
  html { font-size: 18px; }
}
